<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <p class="footer-name">{{ site.name }}</p>
      <p><a href="{{ site.data.lab.division_url }}">{{ site.data.lab.division }}</a><br>{{ site.data.lab.university }}</p>
    </div>
    <div>
      <p>{{ site.data.lab.building }}, {{ site.data.lab.street }}<br>{{ site.data.lab.city }}</p>
      <p>{{ site.data.lab.lab_email }}</p>
    </div>
    <div class="footer-links">
      <a href="/join/">Join the lab</a>
      <a href="/contact/">Contact</a>
      <a href="/news.xml">News feed</a>
    </div>
  </div>
</footer>
