<section class="card">
  <h2 class="card-title">Contact Us</h2>
  <p>{{ site.data.lab.pi_name }}<br>{{ site.data.lab.pi_title }}<br>{{ site.data.lab.division }}<br>{{ site.data.lab.university }}</p>
  <p>email: {{ site.data.lab.email }}<br>tel: {{ site.data.lab.phone }}</p>
  <p>{{ site.data.lab.building }} {{ site.data.lab.office }}, {{ site.data.lab.lab_room }}<br>{{ site.data.lab.street }}<br>{{ site.data.lab.city }}</p>
</section>
<section class="card">
  <h2 class="card-title">Interested in joining the Dhillon lab?</h2>
  <p><a href="/join/">Please reach out!</a> We welcome applicants from all backgrounds.</p>
  <p>See our <a href="/mission/">lab mission and philosophy</a>.</p>
</section>
<section class="card">
  <h2 class="card-title">Recent Posts</h2>
  <ul class="plain-list">
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</a></li>
    {% endfor %}
  </ul>
</section>
